body {

    background-color: rgba(223, 226, 43, 0.522);
    }
    
    h1{
    position: relative;
    right: 500px;
    top:0px;
    left: 500px;
    
    }
     
    h3{
     position: relative;
     right: 500px;
     top: 0px;
     left: 300px;
     bottom: 700px;
    }
    
    h4{
        position: relative;
     right: 700px;
     top: 0px;
     left: 300px;
     bottom: 700px;
    
    }
    
    h2{
        position: relative;
     right: 500px;
     top: 0px;
     left: 300px;
     bottom: 700px; 
    }
